[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
	url = git@github.com:saghirb/Getting-Started-in-R.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = gitlab
	merge = refs/heads/master
	pushRemote = gitlab
[remote "gitlab"]
	url = git@gitlab.com:eddelbuettel/paper-getting-started-in-r-tinyverse.git
	fetch = +refs/heads/*:refs/remotes/gitlab/*
[branch "feature/tinyverse"]
	remote = gitlab
	merge = refs/heads/feature/tinyverse
	pushRemote = gitlab
